body{
      h1{
	   color:darkblue;
	   font:italic bold 38px/38px garamond,serif;
	   background-color:red;
	   border:2px solid black;
	}
	.div{
	           font size:25px;
	           font style:italic;
		   color:brown;   
		}
	p{
	    font size:18px;
	 }

h2{
    color:#ff007f;
  }
		
